<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="css/button.css" type="text/css">
  <link rel="stylesheet" href="css/common.css" type="text/css">
</head>
<body>

<div id="contener">
  <div><img src="img/allegro.png" class="img"></div>
    <div id="menu-bar">
        <a  href="/main" class="button">Strona Główna</a><!--
		--><a  href="/cart" class="button">Koszyk</a><!--
		--><a  href="/orders" class="button">Zamówienia</a><!--
		--><a  href="/add" class="button">Dodaj Item</a><!--
		--><a  href="/contact" class="button">Kontakt</a><!--
		--><a href="/login" class="button">Login</a>
    </div>
  <div>
      <h1>Tutaj mój kontakta</h1>
    <h1>Tutaj mój kontakta</h1>
  </div>
</div>


</body>
</html>